<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book : ${bookList}">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        <div th:if="${book.discount > 0}" th:text="${book.discount} + '%'" class="Card-sale">
        </div>
        </div>
        <div class="Card-content">
            <strong class="Card-title" th:text="${book.title}"><a href="#"></a>
            </strong>
            <div class="Card-description" th:text="${book.book2Authors[0].author}">
            </div>
            <div class="Card-cost">
                <span class="Card-price" th:if="${book.discount > 0}" th:text="${book.price - book.price * book.discount / 100}"></span>
                <span class="Card-priceOld" th:text="${book.price}"></span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}" data-refreshshow="recent"
                                                     data-refreshoffset="20" data-refreshlimit="20" th:text="#{popular.button.showMore}">Показать еще</a>
    </div>
</div>
</html>