<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book : ${bookList}">
        <div class="Card-picture"><a href="#"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
            <div class ="Card-sale"></div>
        </div>
        <div class="Card-content">
            <strong class="Card-title" th:text="${book.title}"><a href="#"></a>
            </strong>
            <div class="Card-description" th:text="${book.author}">
            </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:if="${not #strings.equals(book.priceOld, book.price) and not #strings.isEmpty(book.priceOld)}" th:text="${book.priceOld}"></span>
                <span class="Card-price" th:text="${book.price}"></span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}" data-refreshshow="recent"
                                                     data-refreshoffset="20" data-refreshlimit="20">Показать еще</a>
    </div>
</div>
</html>