<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div id="registration_form">
    <form method="post" th:action="@{/registration/addUser}" th:object="${registrationForm}">
        <img class="login_item" th:src="@{/images/book_icon.png}">
        <br>
        <input class="login_item" type="text" placeholder="enter first name" th:field="*{firstname}">
        <input class="login_item" type="text" placeholder="enter last name" th:field="*{lastname}">
        <br>
        <input class="login_item" type="email" placeholder="enter email" th:field="*{email}">
        <br>
        <input class="login_item" type="number" placeholder="enter phone number" th:field="*{phoneNumber}">
        <br>
        <input class="login_item" type="text" placeholder="enter username" th:field="*{username}">
        <br>
        <input class="login_item" type="password" placeholder="password" th:field="*{password}">
        <br>
        <input class="login_item" type="submit" value="Register">
    </form>

</div>
</body>
</html>